<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>

            <p-table
                #dt
                rowGroupMode="rowspan"
                groupRowsBy="hui"
                [value]="brigadeOrders"
                responsiveLayout="scroll"
                [rows]="10"
                [globalFilterFields]="['hui', 'code', 'dutyName']"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                dataKey="id"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">Manage Brigade Orders</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter(dt, $event)"
                                placeholder="Search..."
                                class="w-full sm:w-auto"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Hui</th>
                        <th>Code</th>
                        <th>Duty Name</th>
                        <th *ngFor="let col of rankColumns">
                            {{ col.header }}
                        </th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-brigadeOrder
                    let-rowgroup="rowgroup"
                    let-rowspan="rowspan"
                    let-rowData
                >
                    <tr>
                        <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
                            <span class="font-bold ml-2">{{
                                brigadeOrder.hui
                            }}</span>
                        </td>
                        <td style="min-width: 10rem">
                            <span class="p-column-title">Code</span>
                            {{ brigadeOrder.code }}
                        </td>
                        <td style="min-width: 10rem">
                            <span class="p-column-title">Duty Name</span>
                            {{ brigadeOrder.dutyName }}
                        </td>
                        <td *ngFor="let col of rankColumns">
                            {{ getRankValue(rowData, col.field) }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
