<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-table
                #dt
                rowGroupMode="rowspan"
                groupRowsBy="hui"
                [value]="brigadeOrders"
                editMode="row"
                responsiveLayout="scroll"
                [rows]="10"
                [globalFilterFields]="['hui', 'code', 'dutyName']"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                dataKey="id"
                [loading]="loading"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">Manage Korpus Orders</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter(dt, $event)"
                                placeholder="Search..."
                                class="w-full sm:w-auto"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Hui</th>
                        <th>Code</th>
                        <th>Duty Name</th>
                        <th *ngFor="let col of rankColumns">
                            {{ col.header }}
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-brigadeOrder
                    let-rowgroup="rowgroup"
                    let-rowspan="rowspan"
                    let-rowData
                    let-editing="editing"
                    let-ri="rowIndex"
                >
                    <tr [pEditableRow]="brigadeOrder">
                        <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
                            <span class="font-bold ml-2">{{
                                brigadeOrder.hui
                            }}</span>
                        </td>
                        <td style="min-width: 10rem">
                            <span class="p-column-title">Code</span>
                            {{ brigadeOrder.code }}
                        </td>
                        <td style="min-width: 10rem">
                            <span class="p-column-title">Duty Name</span>
                            {{ brigadeOrder.dutyName }}
                        </td>
                        <td *ngFor="let col of rankColumns; index as i">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-inputNumber
                                        mode="decimal"
                                        [useGrouping]="false"
                                        [(ngModel)]="
                                            brigadeOrder.ranks[i].amount
                                        "
                                        [allowEmpty]="false"
                                        required
                                        class="p-inputtext-sm"
                                    />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ getRankValue(rowData, col.field) }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <div
                                class="flex align-items-center justify-content-center gap-2"
                            >
                                <button
                                    *ngIf="!editing"
                                    pButton
                                    pRipple
                                    type="button"
                                    pInitEditableRow
                                    icon="pi pi-pencil"
                                    (click)="onRowEditInit(brigadeOrder)"
                                    class="p-button-rounded p-button-text"
                                ></button>
                                <button
                                    *ngIf="editing"
                                    pButton
                                    pRipple
                                    type="button"
                                    pSaveEditableRow
                                    icon="pi pi-check"
                                    (click)="onRowEditSave(brigadeOrder)"
                                    class="p-button-rounded p-button-text p-button-success mr-2"
                                ></button>
                                <button
                                    *ngIf="editing"
                                    pButton
                                    pRipple
                                    type="button"
                                    pCancelEditableRow
                                    icon="pi pi-times"
                                    (click)="onRowEditCancel(brigadeOrder, ri)"
                                    class="p-button-rounded p-button-text p-button-danger"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
